/* className="header"にスタイルが適用される */
@charset "utf-8";

header {
	width: 100%;
	background: #000;
	z-index: 1000;
	padding: 0;
	box-shadow: 2px 2px 4px gray;
}

.headA {
	padding-left: 10px;
	padding-right: 10px;
}

a {
	text-decoration: none;
}

.headA p {
	font-size: 20px;
	margin: 10px 0;
	color: #fff;
}

.headB ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.headB a {
	display: block;
	padding: 8px;
	color: #fff;
	font-size: 17px;
	text-decoration: none;
	border-bottom: 3px solid none;
}

.headB a:hover {
	margin-top: -3px;
	border-bottom: 3px solid #000;
}



@media(min-width: 1024px) {
	.container {
		display: flex;
		align-items: center;
		max-width: 1200px;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
	}

	.headB ul {
		display: flex
	}

	.headC {
		display: none;

	}

	.headB {
		display: block !important;
	}
}


@media(max-width:1023px) {
	header .container-small {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.headC {
		margin-right: 10px;
		padding: 0;
		border: none;
		outline: none;
		background: none;
		font-size: 28px;
		opacity: 0.8;
		cursor: pointer;
		color: #000;
	}

	.headC:hover {
		opacity: 0.3;

	}

	.headB {
		display: none;
	}
}